@font-face {
  font-family: Gapstown;
  src: url(../fonts/gapstown-r.ttf); }

@font-face {
  font-family: Gapstown;
  src: url(../fonts/gapstown-b.ttf);
  font-weight: bold; }

.landing-container-cover {
  background: url("../images/Group-Hike-opt.jpg") 70%/cover no-repeat fixed #222222; }

html, body, .container-cover, .app, .container, .landing-container {
  height: 100%; }

.canoe-icon {
  height: 35px;
  margin-top: -6px;
  pointer-events: none; }

body {
  padding-top: 50px;
  background: #444; }

.landing-container {
  display: flex;
  justify-content: center;
  align-items: center; }

.landing {
  padding: 0px 15px;
  text-align: center;
  margin: 0 auto;
  width: 400px; }

a.btn.btn-block.btn-social.btn-lg.btn-facebook {
  width: 258px;
  margin: 0px auto; }

h1 {
  color: white;
  font-family: 'Gapstown';
  font-weight: bold;
  font-size: 8em;
  margin: 0;
  margin-bottom: -15px; }
  h1 span:nth-child(2) {
    margin: 0 32px; }

h2 {
  font-family: 'Gapstown';
  margin-top: -7px;
  color: white;
  font-size: 40px;
  text-align: center; }

.navbar-brand {
  color: white;
  font-family: 'Gapstown';
  font-size: 2.5em; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none; }

li {
  display: inline-block; }

td, th {
  text-align: center; }

tr > th, tfoot {
  background: #888; }

tfoot tr td {
  text-align: left; }

tfoot tr td {
  border-radius: 0 0 4px 4px; }

table {
  background: #DDD;
  margin-bottom: 25px;
  border-radius: 4px; }
  table label {
    margin-bottom: 0; }

tr th:last-child {
  border-radius: 0 4px 0 0; }

tr th:first-child {
  border-radius: 4px 0 0 0; }

#early td, #late td {
  background: #C0C0C0; }

.interest-form-group {
  margin-top: 15px;
  text-align: center;
  margin-bottom: 45px; }
  .interest-form-group label {
    margin-right: 5px; }

#interestFormInput {
  width: auto;
  display: inline-block; }

label {
  color: white; }

.profile-container, .invites-container {
  background: #444; }

.loggedin-container-cover, .invites-container-cover {
  background: #444;
  padding-top: 25px; }

.email-button {
  font-size: 2.3em;
  padding: 0px 7px;
  line-height: 0.8; }
  .email-button p {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 6px;
    margin-left: -29px;
    font-size: 0.75em;
    position: relative;
    top: -2px;
    color: red; }

.btn-noMessages {
  background: #BBB;
  color: white; }
  .btn-noMessages:focus {
    background: #BBB;
    color: white; }
  .btn-noMessages:hover, .btn-noMessages:active {
    background: #797979;
    color: #eee; }

.btn-hasMessages {
  background: #5959FF;
  color: white; }
  .btn-hasMessages:focus {
    background: #5959FF;
    color: white; }
  .btn-hasMessages:hover, .btn-hasMessages:active {
    background: #0304FF;
    color: #eee; }

.message-list {
  text-align: left; }
  .message-list li {
    display: block; }
    .message-list li div {
      display: inline-block; }
  .message-list .messageTime {
    width: 129px;
    text-align: right;
    color: #888;
    font-weight: 200; }
  .message-list .messageName {
    font-weight: 600; }

.message-delete {
  width: 16px; }
  .message-delete .btn {
    padding: 3px;
    position: relative;
    top: -2px;
    line-height: 0.5; }

.sendMessage > * {
  display: inline-block; }

.button-td div {
  display: inline-block; }

.invite-confirmed {
  font-weight: bold; }

.timeTable div {
  background: white;
  height: 15px;
  width: 50px; }

.timeTable td, .timeTable th {
  padding: 0;
  font-size: .75em; }

.timeTable .timeTable-highlight {
  background: #f90; }

.popover-ul {
  -webkit-padding-start: 0px; }
  .popover-ul li {
    display: block; }

a[class*="Friends-"] {
  margin-left: 5px; }

.modal .form-group {
  margin-bottom: 5px; }

.modal-body label.control-label, .modal-header h1 {
  color: #222; }

.schedule-table {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 25px; }
  .schedule-table .btn-info {
    width: 100%; }
  .schedule-table .btn-info[data-target="#early"] {
    width: 125px; }
  .schedule-table thead > tr, .schedule-table table {
    background: #888; }
  .schedule-table tbody > tr {
    background: #DDD; }
  .schedule-table tbody#early > tr, .schedule-table tbody#late > tr {
    background: #C0C0C0; }

.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 5px; }

.undecline, .unconfirm, .undecline button, .unconfirm button {
  height: 100%; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *, .tgl *:after, .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  transform: scale(0.9); }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease; }

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE; }

@media (max-width: 560px) {
  .schedule-table td {
    letter-spacing: -0.03em;
    font-size: 0.9em; }
  .schedule-table .btn {
    padding: 6px 3px; }
    .schedule-table .btn #early {
      width: 105px; }
  .schedule-table .tgl + .tgl-btn {
    width: 3.5em;
    height: 1.75em; }
  .invites-table {
    padding: 2px; }
    .invites-table .email-button {
      padding: 16px 7px; } }

@media (max-width: 650px) {
  .table > thead > tr > th,
  .table > tbody > tr > th,
  .table > tfoot > tr > th,
  .table > thead > tr > td,
  .table > tbody > tr > td,
  .table > tfoot > tr > td {
    padding: 2px; } }

@media (max-width: 768px) {
  .email-button {
    padding: 16px 7px; }
  .table > tbody > tr > td.button-td {
    padding-right: 0; }
    .table > tbody > tr > td.button-td div button {
      width: 100%; } }
