.container-cover {
  background: linear-gradient(to top, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0) 100%), center/cover no-repeat url("../images/group-biking-sillouette.jpg");
  min-height: 650px; }

body {
  padding-top: 50px; }

.starter-template {
  padding: 40px 15px;
  text-align: center; }

h1 {
  color: white; }

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none; }

li {
  display: inline-block; }

.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *, .tgl *:after, .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection, .tgl *:after::selection, .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-light + .tgl-btn {
  background: #f0f0f0;
  border-radius: 2em;
  padding: 2px;
  transition: all 0.4s ease;
  transform: scale(0.9); }
  .tgl-light + .tgl-btn:after {
    border-radius: 50%;
    background: #fff;
    transition: all 0.2s ease; }

.tgl-light:checked + .tgl-btn {
  background: #9FD6AE; }

label {
  margin-bottom: 0px; }
