
<div class="container-cover invites-container-cover">
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" class="navbar-toggle collapsed"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/#/" class="navbar-brand">
          <object type="image/svg+xml" data="images/canoe.svg" class="canoe-icon"></object></a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/#/invites">Invites</a></li>
          <li><a href="/#/loggedin">Profile</a></li>
          <li ng-controller="FaceCtrl"><a href="" ng-click="logout()">Log out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container invites-container">
    <div ng-controller="EventCtrl" ng-init="loggedInUser &amp;&amp; updateCalendarAndGetInvites(loggedInUser)" class="someDiv">
      <table class="table invites-table">
        <thead>
          <tr>
            <th>Interest</th>
            <th>Day</th>
            <th>Time</th>
            <th>Going</th>
            <th>Needs</th>
            <th>Invited</th>
            <th>Not Going</th>
            <th>Min.</th>
            <th>Max.</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody ng-repeat="invite in invites | filter: filterInvites" ng-init="inviteIndex = $index" ng-class="{'invite-confirmed': invite.userStatus === 'confirmed', 'bg-danger': invite.status === 'full', 'bg-success': invite.status === 'confirmed', 'bg-info': invite.status === 'needsConf', 'bg-warning': invite.status === 'needsInterest', 'bg-warning': invite.status === 'tooManyDeclines'}">
          <tr>
            <td>{{invite.interest}}</td>
            <td>{{invite.day}}</td>
            <td>{{invite.time}}</td>
            <td>{{invite.confirmedNum}}<a href="" ng-if="invite.confirmedFriendsNum &gt; 0" ng-click="$('.confirmedFriends-{{inviteIndex}}').popover(show)" data-toggle="popover" data-trigger="focus" tabindex="0" data-content="{{invite.confirmedFriends}}" title="Confirmed Friends" data-html="data-html" class="confirmedFriends-{{inviteIndex}}">({{invite.confirmedFriendsNum}})</a></td>
            <td>{{invite.neededNum}}</td>
            <td>{{invite.invitedNum}}<a href="" ng-if="invite.invitedFriendsNum &gt; 0" ng-click="$('.invitedFriendsNum-{{inviteIndex}}').popover(show)" data-toggle="popover" data-trigger="focus" tabindex="0" data-content="{{invite.invitedFriends}}" title="Invited Friends" data-html="data-html" class="invitedFriends-{{inviteIndex}}">({{invite.invitedFriendsNum}})</a></td>
            <td>{{invite.declinedNum}}<a href="" ng-if="invite.declinedFriendsNum &gt; 0" ng-click="$('.declinedFriendsNum-{{inviteIndex}}').popover(show)" data-toggle="popover" data-trigger="focus" tabindex="0" data-content="{{invite.declinedFriends}}" title="Declined Friends" data-html="data-html" class="declinedFriends-{{inviteIndex}}">({{invite.declinedFriendsNum}})</a></td>
            <td>{{invite.minPeople}}</td>
            <td>{{invite.maxPeople}}</td>
            <td class="button-td">
              <div ng-hide="invite.userStatus === 'confirmed' || invite.userStatus === 'declined'">
                <button ng-click="confirm(invite, inviteIndex); invite.userStatus = 'confirmed'" ng-disabled="invite.status === 'full'" class="btn btn-success">Confirm</button>
                <button ng-click="decline(invite, inviteIndex); invite.userStatus = 'declined'" ng-disabled="invite.status === 'full'" class="btn btn-danger">Decline</button>
              </div>
              <div ng-show="invite.userStatus === 'confirmed'" class="unconfirm">
                <button ng-click="unConfirm(invite, inviteIndex); invite.userStatus = 'invited'" class="btn btn-danger unconfirmButton">Un-confirm</button>
              </div>
              <div ng-show="invite.userStatus === 'declined'" class="undecline">
                <button ng-click="unDecline(invite, inviteIndex); invite.userStatus = 'invited'" class="btn btn-info undeclineButton">Un-decline</button>
              </div>
            </td>
            <td>
              <div>
                <button ng-click="invite.showMessages = !invite.showMessages; watchMessages(invite, inviteIndex)" ng-class="{true: 'btn-hasMessages'}[hasMessages(invite)]" aria-label="Messages" class="btn btn-default email-button btn-noMessages"><span aria-hidden="true" class="glyphicon glyphicon-envelope"></span></button>
              </div>
            </td>
          </tr>
          <tr ng-show="invite.showMessages">
            <td colspan="11" class="messages-td">
              <div>
                <ul class="message-list">
                  <li ng-repeat="(messageUid, message) in invite.messages" class="message">
                    <div class="message-delete">
                      <button ng-if="message.userName === loggedInUser" ng-click="deleteMessage(invite, inviteIndex, messageUid)" class="btn btn-danger"><span>&times;</span></button>
                    </div>
                    <div class="messageTime">{{message.timestamp}}</div>
                    <div class="messageName">{{message.userName}}:</div>
                    <div class="messageText">{{message.text}}</div>
                  </li>
                </ul>
              </div>
              <div class="sendMessage">
                <form name="newMessageForm" ng-submit="postMessage(invite, inviteIndex)">
                  <input type="text" ng-model="invite.newMessage"/>
                  <input type="submit" value="Post"/>
                </form>
                <button ng-click="invite.newMessage = ''">Clear</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>