.container-cover {
  background: linear-gradient(to top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%),
              center/cover no-repeat url('../images/group-biking-sillouette.jpg');
  min-height: 650px;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  color: white;
}
