// TODO: figure out how to make this image cover the page well no matter the height of the window. Min-height is dumb.
.container-cover {
  background: linear-gradient(to top, rgba(255,255,255,0.7) 0%,rgba(255,255,255,0) 100%),
              center/cover no-repeat url('../images/group-biking-sillouette-optimized.jpg');
  min-height: 650px;
}

body {
  padding-top: 50px;
}

.starter-template {
  padding: 40px 15px;
  text-align: center;
}

h1 {
  color: white;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
}

li {
  display: inline-block;
}

td, th {
  padding: 7px;
  text-align: center;
}

tr > th {
  background: #888;
}

table {
  background: #DDD;
}

.email-button {
  font-size: 2.3em;
  padding: 0px 7px;
  line-height: 0.8;
  p {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 6px;
    margin-left: -29px;
    font-size: 0.75em;
    position: relative;
    top: -2px;
    color: red;
  }
}

.button-td div {
  display: inline-block;
}

.invite-confirmed {
  font-weight: bold;
}

// .row-full {
//   background: red;
// }

// .row-confirmed {
//   background: gold;
// }

// .row-needsConf {
//   background: green;
// }

// .row-needsInterest {
//   background: #888;
// }

// .row-tooManyDeclines {
//   background: white;
// }

.timeTable {
  div {
    background: white;
    height: 15px;
    width: 50px;
  }
  td, th {
    padding: 0;
    font-size: .75em;
  }
  .timeTable-highlight{
    background: #f90;
  }
}

.modal-header h1 {
  color: black;
}
////////////////////
// Toggle buttons //
////////////////////

.tgl{
  display: none;
  // add default box-sizing for this scope
  &, &:after, &:before,
  & *, & *:after, & *:before,
  & + .tgl-btn{
    box-sizing: border-box;
    &::selection{
      background: none;
    }
  }
  + .tgl-btn{
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
     user-select: none;
    &:after, &:before{
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%;
    }
    &:after{
      left: 0;
    }
    &:before{
      display: none;
    }
  }
  &:checked{
    + .tgl-btn{
      &:after{
        left: 50%;
      }
    }
  }
}

// themes
.tgl-light{
  + .tgl-btn{
    background: #f0f0f0;
    border-radius: 2em;
    padding: 2px;
    transition: all .4s ease;
    transform: scale(0.9); //shrink sliders to 90%
    &:after{
      border-radius: 50%;
      background: #fff;
      transition: all .2s ease;
    }
  }
  &:checked{
    + .tgl-btn{
      background: #9FD6AE;
    }
  }
}

label {
  margin-bottom: 0px;
}
