.container(ng-controller="InvitesCtrl")
  h1 Your Invites

  table
    tr
      th Interest
      th Day
      th Time
      th # Invited
      th # Confirmed
      th # Declined
      th Confirm / Decline
      th Show Messages
    tr(ng-repeat="(halfHour, inviteObj) in invites")
      tr
        td {{inviteObj.interest}}
        td {{inviteObj.day}}
        td {{inviteObj.time}}
        td {{Object.keys(inviteObj.invited).length}}
        td {{Object.keys(inviteObj.confirmed).length}}
        td {{Object.keys(inviteObj.declined).length}}
        td
          a(href="#" ng-click="confirm(inviteObj)") Confirm /
          a(href="#" ng-click="decline(inviteObj)") Decline
        td
          a(href="#" ng-click="showMessages = !showMessages") ({{Object.keys(inviteObj.messages).length}})
          a(href="#" ng-click="showNewMessageForm") Send Message
      tr(ng-show="showMessages")
        ul
          li(ng-repeat="(messageIndex, message) in inviteObj.messages")
            p {{message.sender}}
            p {{message.time}}
            p {{message.body}}
          li
            a(href="#" ng-click="showMessages = !showMessages") Hide
      tr(ng-show="showNewMessageForm")
        form
          input(type="text" ng-model="inviteObj.newMessage")
        button(ng-click="sendMessage(inviteObj.newMessage)") Post
        button(ng-click="showNewMessageForm = !showNewMessageForm") Cancel
