.container(ng-controller="FaceCtrl")
  nav.navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a.navbar-brand(href='/#/') Go and Do
      #navbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(ng-click="login()") Log In
  .container
    .starter-template
      h1 Go and Do
      p.lead
        | More social, less media.
      //- fb:login-button(show-faces="true" max-rows="1" size="large")
      //- img(src= 'http://www.kilnandco.com/gallery/var/albums/facebook-login-button.png?m=1375582078')

      button(ng-click="login()") Log in with FB
      button(ng-click="loginAs('fakedata')") Log in as fakedata
      button(ng-click="loginAs('fakedata2')") Log in as fakedata2
      button(ng-click="loginAs('fakedata3')") Log in as fakedata3
      button(ng-click="loginAs('fakedata4')") Log in as fakedata4
      button(ng-click="loginAs('fakedata5')") Log in as fakedata5
      .container(ng-controller="EventCtrl")
        //- button.btn.btn-primary(ng-click="getAvailability('fakedata')") getAvailability('fakedata')
        button.btn.btn-primary(ng-click="getBlocks('fakedata')") getBlocks('fakedata')
        button.btn.btn-info(ng-click="getPossibleEvents('fakedata')") getPossibleEvents('fakedata')
        //- button.btn.btn-info(ng-click="getPossibleEvents('fakedata2')") getPossibleEvents('fakedata2')
        //- button.btn.btn-info(ng-click="getPossibleEvents('fakedata3')") getPossibleEvents('fakedata3')
        //- button.btn.btn-info(ng-click="getPossibleEvents('fakedata4')") getPossibleEvents('fakedata4')
        //- button.btn.btn-info(ng-click="getPossibleEvents('fakedata5')") getPossibleEvents('fakedata5')
        //- button.btn.btn-primary(ng-click="getFriendPossibleEvents('fakedata')") getFriendPossibleEvents('fakedata')
        //- button.btn.btn-primary(ng-click="makeEvents('fakedata')") makeEvents('fakedata')
        button.btn.btn-danger(ng-click="userAvailToFirebase('fakedata')") userAvailToFirebase('fakedata')
        //- button.btn.btn-danger(ng-click="userAvailToFirebase('fakedata2')") userAvailToFirebase('fakedata2')
        //- button.btn.btn-danger(ng-click="userAvailToFirebase('fakedata3')") userAvailToFirebase('fakedata3')
        //- button.btn.btn-danger(ng-click="userAvailToFirebase('fakedata4')") userAvailToFirebase('fakedata4')
        //- button.btn.btn-danger(ng-click="userAvailToFirebase('fakedata5')") userAvailToFirebase('fakedata5')
        button.btn.btn-primary(ng-click="allUserAvailToFirebase()") allUserAvailToFirebase()
        //- button.btn.btn-primary(ng-click="getPossibleEventsAll()") getPossibleEventsAll()
        button.btn.btn-primary(ng-click="makeCalendar()") makeCalendar()
        button.btn.btn-primary(ng-click="getInvites('fakedata')") getInvites('fakedata')
        button.btn.btn-primary(ng-click="getInvites('fakedata3')") getInvites('fakedata3')
        button.btn.btn-primary(ng-click="getInvites('fakedata5')") getInvites('fakedata5')
        button.btn.btn-primary(ng-click="getAllInvites()") getAllInvites()
