nav.navbar.navbar-inverse.navbar-fixed-top
  .container
    .navbar-header
      button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/#/') Go and Do
    #navbar.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.active
          a(href='/#/profile') Profile
        li
          a(href='/#/happenings') Happenings
        li(ng-controller='FaceCtrl')
          a(href='' ng-click='logout()') Log out
.container(ng-controller="EventCtrl")
  button.btn.btn-primary(ng-click="scheduleToArray('fakeface')") cmon wid it
.container
  .interests(ng-controller="InterestsCtrl")
    ul
      li(ng-repeat="(key, value) in data")
        button.btn(ng-click="pickInterest(key)", ng-class="{'btn-success': dataUser[key], 'btn-primary': !dataUser[key]}") {{key}}
    form(name="addInterest", novalidate)
      .form-group
        label.control-label Add Interest
        input.form-control(name="intName" type="text" placeholder='e.g. "Ultimate Frisbee"' ng-model="name" required)
        button.btn.btn-primary(ng-click="addOne(name)") Add

  .schedule(ng-controller="ScheduleCtrl")
    table
      thead
        tr
          th
          th Mon
          th Tue
          th Wed
          th Thu
          th Fri
          th Sat
          th Sun
      tbody
        tr
          td 12:00am - 12:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0000" ng-model="data.mon.t0000")
            label.tgl-btn(for='mon0000')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0000" ng-model="data.tue.t0000")
            label.tgl-btn(for='tue0000')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0000" ng-model="data.wed.t0000")
            label.tgl-btn(for='wed0000')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0000" ng-model="data.thu.t0000")
            label.tgl-btn(for='thu0000')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0000" ng-model="data.fri.t0000")
            label.tgl-btn(for='fri0000')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0000" ng-model="data.sat.t0000")
            label.tgl-btn(for='sat0000')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0000" ng-model="data.sun.t0000")
            label.tgl-btn(for='sun0000')
        tr
          td 12:30am - 1:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0030" ng-model="data.mon.t0030")
            label.tgl-btn(for='mon0030')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0030" ng-model="data.tue.t0030")
            label.tgl-btn(for='tue0030')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0030" ng-model="data.wed.t0030")
            label.tgl-btn(for='wed0030')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0030" ng-model="data.thu.t0030")
            label.tgl-btn(for='thu0030')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0030" ng-model="data.fri.t0030")
            label.tgl-btn(for='fri0030')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0030" ng-model="data.sat.t0030")
            label.tgl-btn(for='sat0030')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0030" ng-model="data.sun.t0030")
            label.tgl-btn(for='sun0030')
        tr
          td 1:00am - 1:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0100" ng-model="data.mon.t0100")
            label.tgl-btn(for='mon0100')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0100" ng-model="data.tue.t0100")
            label.tgl-btn(for='tue0100')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0100" ng-model="data.wed.t0100")
            label.tgl-btn(for='wed0100')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0100" ng-model="data.thu.t0100")
            label.tgl-btn(for='thu0100')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0100" ng-model="data.fri.t0100")
            label.tgl-btn(for='fri0100')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0100" ng-model="data.sat.t0100")
            label.tgl-btn(for='sat0100')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0100" ng-model="data.sun.t0100")
            label.tgl-btn(for='sun0100')
        tr
          td 1:30am - 2:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0130" ng-model="data.mon.t0130")
            label.tgl-btn(for='mon0130')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0130" ng-model="data.tue.t0130")
            label.tgl-btn(for='tue0130')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0130" ng-model="data.wed.t0130")
            label.tgl-btn(for='wed0130')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0130" ng-model="data.thu.t0130")
            label.tgl-btn(for='thu0130')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0130" ng-model="data.fri.t0130")
            label.tgl-btn(for='fri0130')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0130" ng-model="data.sat.t0130")
            label.tgl-btn(for='sat0130')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0130" ng-model="data.sun.t0130")
            label.tgl-btn(for='sun0130')
        tr
          td 2:00am - 2:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0200" ng-model="data.mon.t0200")
            label.tgl-btn(for='mon0200')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0200" ng-model="data.tue.t0200")
            label.tgl-btn(for='tue0200')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0200" ng-model="data.wed.t0200")
            label.tgl-btn(for='wed0200')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0200" ng-model="data.thu.t0200")
            label.tgl-btn(for='thu0200')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0200" ng-model="data.fri.t0200")
            label.tgl-btn(for='fri0200')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0200" ng-model="data.sat.t0200")
            label.tgl-btn(for='sat0200')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0200" ng-model="data.sun.t0200")
            label.tgl-btn(for='sun0200')
        tr
          td 2:30am - 3:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0230" ng-model="data.mon.t0230")
            label.tgl-btn(for='mon0230')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0230" ng-model="data.tue.t0230")
            label.tgl-btn(for='tue0230')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0230" ng-model="data.wed.t0230")
            label.tgl-btn(for='wed0230')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0230" ng-model="data.thu.t0230")
            label.tgl-btn(for='thu0230')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0230" ng-model="data.fri.t0230")
            label.tgl-btn(for='fri0230')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0230" ng-model="data.sat.t0230")
            label.tgl-btn(for='sat0230')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0230" ng-model="data.sun.t0230")
            label.tgl-btn(for='sun0230')
        tr
          td 3:00am - 3:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0300" ng-model="data.mon.t0300")
            label.tgl-btn(for='mon0300')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0300" ng-model="data.tue.t0300")
            label.tgl-btn(for='tue0300')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0300" ng-model="data.wed.t0300")
            label.tgl-btn(for='wed0300')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0300" ng-model="data.thu.t0300")
            label.tgl-btn(for='thu0300')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0300" ng-model="data.fri.t0300")
            label.tgl-btn(for='fri0300')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0300" ng-model="data.sat.t0300")
            label.tgl-btn(for='sat0300')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0300" ng-model="data.sun.t0300")
            label.tgl-btn(for='sun0300')
        tr
          td 3:30am - 4:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0330" ng-model="data.mon.t0330")
            label.tgl-btn(for='mon0330')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0330" ng-model="data.tue.t0330")
            label.tgl-btn(for='tue0330')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0330" ng-model="data.wed.t0330")
            label.tgl-btn(for='wed0330')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0330" ng-model="data.thu.t0330")
            label.tgl-btn(for='thu0330')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0330" ng-model="data.fri.t0330")
            label.tgl-btn(for='fri0330')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0330" ng-model="data.sat.t0330")
            label.tgl-btn(for='sat0330')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0330" ng-model="data.sun.t0330")
            label.tgl-btn(for='sun0330')
        tr
          td 4:00am - 4:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0400" ng-model="data.mon.t0400")
            label.tgl-btn(for='mon0400')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0400" ng-model="data.tue.t0400")
            label.tgl-btn(for='tue0400')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0400" ng-model="data.wed.t0400")
            label.tgl-btn(for='wed0400')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0400" ng-model="data.thu.t0400")
            label.tgl-btn(for='thu0400')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0400" ng-model="data.fri.t0400")
            label.tgl-btn(for='fri0400')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0400" ng-model="data.sat.t0400")
            label.tgl-btn(for='sat0400')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0400" ng-model="data.sun.t0400")
            label.tgl-btn(for='sun0400')
        tr
          td 4:30am - 5:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0430" ng-model="data.mon.t0430")
            label.tgl-btn(for='mon0430')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0430" ng-model="data.tue.t0430")
            label.tgl-btn(for='tue0430')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0430" ng-model="data.wed.t0430")
            label.tgl-btn(for='wed0430')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0430" ng-model="data.thu.t0430")
            label.tgl-btn(for='thu0430')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0430" ng-model="data.fri.t0430")
            label.tgl-btn(for='fri0430')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0430" ng-model="data.sat.t0430")
            label.tgl-btn(for='sat0430')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0430" ng-model="data.sun.t0430")
            label.tgl-btn(for='sun0430')
        tr
          td 5:00am - 5:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0500" ng-model="data.mon.t0500")
            label.tgl-btn(for='mon0500')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0500" ng-model="data.tue.t0500")
            label.tgl-btn(for='tue0500')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0500" ng-model="data.wed.t0500")
            label.tgl-btn(for='wed0500')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0500" ng-model="data.thu.t0500")
            label.tgl-btn(for='thu0500')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0500" ng-model="data.fri.t0500")
            label.tgl-btn(for='fri0500')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0500" ng-model="data.sat.t0500")
            label.tgl-btn(for='sat0500')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0500" ng-model="data.sun.t0500")
            label.tgl-btn(for='sun0500')
        tr
          td 5:30am - 6:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0530" ng-model="data.mon.t0530")
            label.tgl-btn(for='mon0530')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0530" ng-model="data.tue.t0530")
            label.tgl-btn(for='tue0530')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0530" ng-model="data.wed.t0530")
            label.tgl-btn(for='wed0530')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0530" ng-model="data.thu.t0530")
            label.tgl-btn(for='thu0530')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0530" ng-model="data.fri.t0530")
            label.tgl-btn(for='fri0530')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0530" ng-model="data.sat.t0530")
            label.tgl-btn(for='sat0530')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0530" ng-model="data.sun.t0530")
            label.tgl-btn(for='sun0530')
        tr
          td 6:00am - 6:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0600" ng-model="data.mon.t0600")
            label.tgl-btn(for='mon0600')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0600" ng-model="data.tue.t0600")
            label.tgl-btn(for='tue0600')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0600" ng-model="data.wed.t0600")
            label.tgl-btn(for='wed0600')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0600" ng-model="data.thu.t0600")
            label.tgl-btn(for='thu0600')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0600" ng-model="data.fri.t0600")
            label.tgl-btn(for='fri0600')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0600" ng-model="data.sat.t0600")
            label.tgl-btn(for='sat0600')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0600" ng-model="data.sun.t0600")
            label.tgl-btn(for='sun0600')
        tr
          td 6:30am - 7:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0630" ng-model="data.mon.t0630")
            label.tgl-btn(for='mon0630')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0630" ng-model="data.tue.t0630")
            label.tgl-btn(for='tue0630')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0630" ng-model="data.wed.t0630")
            label.tgl-btn(for='wed0630')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0630" ng-model="data.thu.t0630")
            label.tgl-btn(for='thu0630')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0630" ng-model="data.fri.t0630")
            label.tgl-btn(for='fri0630')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0630" ng-model="data.sat.t0630")
            label.tgl-btn(for='sat0630')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0630" ng-model="data.sun.t0630")
            label.tgl-btn(for='sun0630')
        tr
          td 7:00am - 7:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0700" ng-model="data.mon.t0700")
            label.tgl-btn(for='mon0700')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0700" ng-model="data.tue.t0700")
            label.tgl-btn(for='tue0700')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0700" ng-model="data.wed.t0700")
            label.tgl-btn(for='wed0700')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0700" ng-model="data.thu.t0700")
            label.tgl-btn(for='thu0700')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0700" ng-model="data.fri.t0700")
            label.tgl-btn(for='fri0700')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0700" ng-model="data.sat.t0700")
            label.tgl-btn(for='sat0700')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0700" ng-model="data.sun.t0700")
            label.tgl-btn(for='sun0700')
        tr
          td 7:30am - 8:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0730" ng-model="data.mon.t0730")
            label.tgl-btn(for='mon0730')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0730" ng-model="data.tue.t0730")
            label.tgl-btn(for='tue0730')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0730" ng-model="data.wed.t0730")
            label.tgl-btn(for='wed0730')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0730" ng-model="data.thu.t0730")
            label.tgl-btn(for='thu0730')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0730" ng-model="data.fri.t0730")
            label.tgl-btn(for='fri0730')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0730" ng-model="data.sat.t0730")
            label.tgl-btn(for='sat0730')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0730" ng-model="data.sun.t0730")
            label.tgl-btn(for='sun0730')
        tr
          td 8:00am - 8:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0800" ng-model="data.mon.t0800")
            label.tgl-btn(for='mon0800')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0800" ng-model="data.tue.t0800")
            label.tgl-btn(for='tue0800')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0800" ng-model="data.wed.t0800")
            label.tgl-btn(for='wed0800')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0800" ng-model="data.thu.t0800")
            label.tgl-btn(for='thu0800')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0800" ng-model="data.fri.t0800")
            label.tgl-btn(for='fri0800')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0800" ng-model="data.sat.t0800")
            label.tgl-btn(for='sat0800')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0800" ng-model="data.sun.t0800")
            label.tgl-btn(for='sun0800')
        tr
          td 8:30am - 9:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0830" ng-model="data.mon.t0830")
            label.tgl-btn(for='mon0830')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0830" ng-model="data.tue.t0830")
            label.tgl-btn(for='tue0830')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0830" ng-model="data.wed.t0830")
            label.tgl-btn(for='wed0830')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0830" ng-model="data.thu.t0830")
            label.tgl-btn(for='thu0830')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0830" ng-model="data.fri.t0830")
            label.tgl-btn(for='fri0830')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0830" ng-model="data.sat.t0830")
            label.tgl-btn(for='sat0830')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0830" ng-model="data.sun.t0830")
            label.tgl-btn(for='sun0830')
        tr
          td 9:00am - 9:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0900" ng-model="data.mon.t0900")
            label.tgl-btn(for='mon0900')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0900" ng-model="data.tue.t0900")
            label.tgl-btn(for='tue0900')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0900" ng-model="data.wed.t0900")
            label.tgl-btn(for='wed0900')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0900" ng-model="data.thu.t0900")
            label.tgl-btn(for='thu0900')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0900" ng-model="data.fri.t0900")
            label.tgl-btn(for='fri0900')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0900" ng-model="data.sat.t0900")
            label.tgl-btn(for='sat0900')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0900" ng-model="data.sun.t0900")
            label.tgl-btn(for='sun0900')
        tr
          td 9:30am - 10:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon0930" ng-model="data.mon.t0930")
            label.tgl-btn(for='mon0930')
          td
            input.tgl.tgl-light(type="checkbox" id="tue0930" ng-model="data.tue.t0930")
            label.tgl-btn(for='tue0930')
          td
            input.tgl.tgl-light(type="checkbox" id="wed0930" ng-model="data.wed.t0930")
            label.tgl-btn(for='wed0930')
          td
            input.tgl.tgl-light(type="checkbox" id="thu0930" ng-model="data.thu.t0930")
            label.tgl-btn(for='thu0930')
          td
            input.tgl.tgl-light(type="checkbox" id="fri0930" ng-model="data.fri.t0930")
            label.tgl-btn(for='fri0930')
          td
            input.tgl.tgl-light(type="checkbox" id="sat0930" ng-model="data.sat.t0930")
            label.tgl-btn(for='sat0930')
          td
            input.tgl.tgl-light(type="checkbox" id="sun0930" ng-model="data.sun.t0930")
            label.tgl-btn(for='sun0930')
        tr
          td 10:00am - 10:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon1000" ng-model="data.mon.t1000")
            label.tgl-btn(for='mon1000')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1000" ng-model="data.tue.t1000")
            label.tgl-btn(for='tue1000')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1000" ng-model="data.wed.t1000")
            label.tgl-btn(for='wed1000')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1000" ng-model="data.thu.t1000")
            label.tgl-btn(for='thu1000')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1000" ng-model="data.fri.t1000")
            label.tgl-btn(for='fri1000')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1000" ng-model="data.sat.t1000")
            label.tgl-btn(for='sat1000')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1000" ng-model="data.sun.t1000")
            label.tgl-btn(for='sun1000')
        tr
          td 10:30am - 11:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon1030" ng-model="data.mon.t1030")
            label.tgl-btn(for='mon1030')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1030" ng-model="data.tue.t1030")
            label.tgl-btn(for='tue1030')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1030" ng-model="data.wed.t1030")
            label.tgl-btn(for='wed1030')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1030" ng-model="data.thu.t1030")
            label.tgl-btn(for='thu1030')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1030" ng-model="data.fri.t1030")
            label.tgl-btn(for='fri1030')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1030" ng-model="data.sat.t1030")
            label.tgl-btn(for='sat1030')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1030" ng-model="data.sun.t1030")
            label.tgl-btn(for='sun1030')
        tr
          td 11:00am - 11:30am
          td
            input.tgl.tgl-light(type="checkbox" id="mon1100" ng-model="data.mon.t1100")
            label.tgl-btn(for='mon1100')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1100" ng-model="data.tue.t1100")
            label.tgl-btn(for='tue1100')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1100" ng-model="data.wed.t1100")
            label.tgl-btn(for='wed1100')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1100" ng-model="data.thu.t1100")
            label.tgl-btn(for='thu1100')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1100" ng-model="data.fri.t1100")
            label.tgl-btn(for='fri1100')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1100" ng-model="data.sat.t1100")
            label.tgl-btn(for='sat1100')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1100" ng-model="data.sun.t1100")
            label.tgl-btn(for='sun1100')
        tr
          td 11:30am - 12:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1130" ng-model="data.mon.t1130")
            label.tgl-btn(for='mon1130')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1130" ng-model="data.tue.t1130")
            label.tgl-btn(for='tue1130')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1130" ng-model="data.wed.t1130")
            label.tgl-btn(for='wed1130')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1130" ng-model="data.thu.t1130")
            label.tgl-btn(for='thu1130')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1130" ng-model="data.fri.t1130")
            label.tgl-btn(for='fri1130')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1130" ng-model="data.sat.t1130")
            label.tgl-btn(for='sat1130')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1130" ng-model="data.sun.t1130")
            label.tgl-btn(for='sun1130')
        tr
          td 12:00pm - 12:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1200" ng-model="data.mon.t1200")
            label.tgl-btn(for='mon1200')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1200" ng-model="data.tue.t1200")
            label.tgl-btn(for='tue1200')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1200" ng-model="data.wed.t1200")
            label.tgl-btn(for='wed1200')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1200" ng-model="data.thu.t1200")
            label.tgl-btn(for='thu1200')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1200" ng-model="data.fri.t1200")
            label.tgl-btn(for='fri1200')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1200" ng-model="data.sat.t1200")
            label.tgl-btn(for='sat1200')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1200" ng-model="data.sun.t1200")
            label.tgl-btn(for='sun1200')
        tr
          td 12:30pm - 1:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1230" ng-model="data.mon.t1230")
            label.tgl-btn(for='mon1230')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1230" ng-model="data.tue.t1230")
            label.tgl-btn(for='tue1230')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1230" ng-model="data.wed.t1230")
            label.tgl-btn(for='wed1230')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1230" ng-model="data.thu.t1230")
            label.tgl-btn(for='thu1230')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1230" ng-model="data.fri.t1230")
            label.tgl-btn(for='fri1230')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1230" ng-model="data.sat.t1230")
            label.tgl-btn(for='sat1230')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1230" ng-model="data.sun.t1230")
            label.tgl-btn(for='sun1230')
        tr
          td 1:00pm - 1:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1300" ng-model="data.mon.t1300")
            label.tgl-btn(for='mon1300')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1300" ng-model="data.tue.t1300")
            label.tgl-btn(for='tue1300')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1300" ng-model="data.wed.t1300")
            label.tgl-btn(for='wed1300')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1300" ng-model="data.thu.t1300")
            label.tgl-btn(for='thu1300')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1300" ng-model="data.fri.t1300")
            label.tgl-btn(for='fri1300')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1300" ng-model="data.sat.t1300")
            label.tgl-btn(for='sat1300')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1300" ng-model="data.sun.t1300")
            label.tgl-btn(for='sun1300')
        tr
          td 1:30pm - 2:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1330" ng-model="data.mon.t1330")
            label.tgl-btn(for='mon1330')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1330" ng-model="data.tue.t1330")
            label.tgl-btn(for='tue1330')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1330" ng-model="data.wed.t1330")
            label.tgl-btn(for='wed1330')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1330" ng-model="data.thu.t1330")
            label.tgl-btn(for='thu1330')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1330" ng-model="data.fri.t1330")
            label.tgl-btn(for='fri1330')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1330" ng-model="data.sat.t1330")
            label.tgl-btn(for='sat1330')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1330" ng-model="data.sun.t1330")
            label.tgl-btn(for='sun1330')
        tr
          td 2:00pm - 2:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1400" ng-model="data.mon.t1400")
            label.tgl-btn(for='mon1400')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1400" ng-model="data.tue.t1400")
            label.tgl-btn(for='tue1400')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1400" ng-model="data.wed.t1400")
            label.tgl-btn(for='wed1400')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1400" ng-model="data.thu.t1400")
            label.tgl-btn(for='thu1400')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1400" ng-model="data.fri.t1400")
            label.tgl-btn(for='fri1400')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1400" ng-model="data.sat.t1400")
            label.tgl-btn(for='sat1400')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1400" ng-model="data.sun.t1400")
            label.tgl-btn(for='sun1400')
        tr
          td 2:30pm - 3:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1430" ng-model="data.mon.t1430")
            label.tgl-btn(for='mon1430')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1430" ng-model="data.tue.t1430")
            label.tgl-btn(for='tue1430')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1430" ng-model="data.wed.t1430")
            label.tgl-btn(for='wed1430')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1430" ng-model="data.thu.t1430")
            label.tgl-btn(for='thu1430')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1430" ng-model="data.fri.t1430")
            label.tgl-btn(for='fri1430')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1430" ng-model="data.sat.t1430")
            label.tgl-btn(for='sat1430')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1430" ng-model="data.sun.t1430")
            label.tgl-btn(for='sun1430')
        tr
          td 3:00pm - 3:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1500" ng-model="data.mon.t1500")
            label.tgl-btn(for='mon1500')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1500" ng-model="data.tue.t1500")
            label.tgl-btn(for='tue1500')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1500" ng-model="data.wed.t1500")
            label.tgl-btn(for='wed1500')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1500" ng-model="data.thu.t1500")
            label.tgl-btn(for='thu1500')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1500" ng-model="data.fri.t1500")
            label.tgl-btn(for='fri1500')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1500" ng-model="data.sat.t1500")
            label.tgl-btn(for='sat1500')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1500" ng-model="data.sun.t1500")
            label.tgl-btn(for='sun1500')
        tr
          td 3:30pm - 4:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1530" ng-model="data.mon.t1530")
            label.tgl-btn(for='mon1530')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1530" ng-model="data.tue.t1530")
            label.tgl-btn(for='tue1530')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1530" ng-model="data.wed.t1530")
            label.tgl-btn(for='wed1530')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1530" ng-model="data.thu.t1530")
            label.tgl-btn(for='thu1530')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1530" ng-model="data.fri.t1530")
            label.tgl-btn(for='fri1530')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1530" ng-model="data.sat.t1530")
            label.tgl-btn(for='sat1530')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1530" ng-model="data.sun.t1530")
            label.tgl-btn(for='sun1530')
        tr
          td 4:00pm - 4:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1600" ng-model="data.mon.t1600")
            label.tgl-btn(for='mon1600')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1600" ng-model="data.tue.t1600")
            label.tgl-btn(for='tue1600')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1600" ng-model="data.wed.t1600")
            label.tgl-btn(for='wed1600')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1600" ng-model="data.thu.t1600")
            label.tgl-btn(for='thu1600')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1600" ng-model="data.fri.t1600")
            label.tgl-btn(for='fri1600')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1600" ng-model="data.sat.t1600")
            label.tgl-btn(for='sat1600')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1600" ng-model="data.sun.t1600")
            label.tgl-btn(for='sun1600')
        tr
          td 4:30pm - 5:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1630" ng-model="data.mon.t1630")
            label.tgl-btn(for='mon1630')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1630" ng-model="data.tue.t1630")
            label.tgl-btn(for='tue1630')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1630" ng-model="data.wed.t1630")
            label.tgl-btn(for='wed1630')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1630" ng-model="data.thu.t1630")
            label.tgl-btn(for='thu1630')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1630" ng-model="data.fri.t1630")
            label.tgl-btn(for='fri1630')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1630" ng-model="data.sat.t1630")
            label.tgl-btn(for='sat1630')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1630" ng-model="data.sun.t1630")
            label.tgl-btn(for='sun1630')
        tr
          td 5:00pm - 5:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1700" ng-model="data.mon.t1700")
            label.tgl-btn(for='mon1700')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1700" ng-model="data.tue.t1700")
            label.tgl-btn(for='tue1700')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1700" ng-model="data.wed.t1700")
            label.tgl-btn(for='wed1700')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1700" ng-model="data.thu.t1700")
            label.tgl-btn(for='thu1700')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1700" ng-model="data.fri.t1700")
            label.tgl-btn(for='fri1700')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1700" ng-model="data.sat.t1700")
            label.tgl-btn(for='sat1700')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1700" ng-model="data.sun.t1700")
            label.tgl-btn(for='sun1700')
        tr
          td 5:30pm - 6:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1730" ng-model="data.mon.t1730")
            label.tgl-btn(for='mon1730')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1730" ng-model="data.tue.t1730")
            label.tgl-btn(for='tue1730')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1730" ng-model="data.wed.t1730")
            label.tgl-btn(for='wed1730')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1730" ng-model="data.thu.t1730")
            label.tgl-btn(for='thu1730')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1730" ng-model="data.fri.t1730")
            label.tgl-btn(for='fri1730')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1730" ng-model="data.sat.t1730")
            label.tgl-btn(for='sat1730')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1730" ng-model="data.sun.t1730")
            label.tgl-btn(for='sun1730')
        tr
          td 6:00pm - 6:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1800" ng-model="data.mon.t1800")
            label.tgl-btn(for='mon1800')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1800" ng-model="data.tue.t1800")
            label.tgl-btn(for='tue1800')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1800" ng-model="data.wed.t1800")
            label.tgl-btn(for='wed1800')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1800" ng-model="data.thu.t1800")
            label.tgl-btn(for='thu1800')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1800" ng-model="data.fri.t1800")
            label.tgl-btn(for='fri1800')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1800" ng-model="data.sat.t1800")
            label.tgl-btn(for='sat1800')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1800" ng-model="data.sun.t1800")
            label.tgl-btn(for='sun1800')
        tr
          td 6:30pm - 7:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1830" ng-model="data.mon.t1830")
            label.tgl-btn(for='mon1830')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1830" ng-model="data.tue.t1830")
            label.tgl-btn(for='tue1830')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1830" ng-model="data.wed.t1830")
            label.tgl-btn(for='wed1830')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1830" ng-model="data.thu.t1830")
            label.tgl-btn(for='thu1830')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1830" ng-model="data.fri.t1830")
            label.tgl-btn(for='fri1830')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1830" ng-model="data.sat.t1830")
            label.tgl-btn(for='sat1830')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1830" ng-model="data.sun.t1830")
            label.tgl-btn(for='sun1830')
        tr
          td 7:00pm - 7:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1900" ng-model="data.mon.t1900")
            label.tgl-btn(for='mon1900')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1900" ng-model="data.tue.t1900")
            label.tgl-btn(for='tue1900')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1900" ng-model="data.wed.t1900")
            label.tgl-btn(for='wed1900')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1900" ng-model="data.thu.t1900")
            label.tgl-btn(for='thu1900')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1900" ng-model="data.fri.t1900")
            label.tgl-btn(for='fri1900')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1900" ng-model="data.sat.t1900")
            label.tgl-btn(for='sat1900')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1900" ng-model="data.sun.t1900")
            label.tgl-btn(for='sun1900')
        tr
          td 7:30pm - 8:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon1930" ng-model="data.mon.t1930")
            label.tgl-btn(for='mon1930')
          td
            input.tgl.tgl-light(type="checkbox" id="tue1930" ng-model="data.tue.t1930")
            label.tgl-btn(for='tue1930')
          td
            input.tgl.tgl-light(type="checkbox" id="wed1930" ng-model="data.wed.t1930")
            label.tgl-btn(for='wed1930')
          td
            input.tgl.tgl-light(type="checkbox" id="thu1930" ng-model="data.thu.t1930")
            label.tgl-btn(for='thu1930')
          td
            input.tgl.tgl-light(type="checkbox" id="fri1930" ng-model="data.fri.t1930")
            label.tgl-btn(for='fri1930')
          td
            input.tgl.tgl-light(type="checkbox" id="sat1930" ng-model="data.sat.t1930")
            label.tgl-btn(for='sat1930')
          td
            input.tgl.tgl-light(type="checkbox" id="sun1930" ng-model="data.sun.t1930")
            label.tgl-btn(for='sun1930')
        tr
          td 8:00pm - 8:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2000" ng-model="data.mon.t2000")
            label.tgl-btn(for='mon2000')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2000" ng-model="data.tue.t2000")
            label.tgl-btn(for='tue2000')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2000" ng-model="data.wed.t2000")
            label.tgl-btn(for='wed2000')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2000" ng-model="data.thu.t2000")
            label.tgl-btn(for='thu2000')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2000" ng-model="data.fri.t2000")
            label.tgl-btn(for='fri2000')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2000" ng-model="data.sat.t2000")
            label.tgl-btn(for='sat2000')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2000" ng-model="data.sun.t2000")
            label.tgl-btn(for='sun2000')
        tr
          td 8:30pm - 9:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2030" ng-model="data.mon.t2030")
            label.tgl-btn(for='mon2030')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2030" ng-model="data.tue.t2030")
            label.tgl-btn(for='tue2030')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2030" ng-model="data.wed.t2030")
            label.tgl-btn(for='wed2030')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2030" ng-model="data.thu.t2030")
            label.tgl-btn(for='thu2030')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2030" ng-model="data.fri.t2030")
            label.tgl-btn(for='fri2030')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2030" ng-model="data.sat.t2030")
            label.tgl-btn(for='sat2030')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2030" ng-model="data.sun.t2030")
            label.tgl-btn(for='sun2030')
        tr
          td 9:00pm - 9:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2100" ng-model="data.mon.t2100")
            label.tgl-btn(for='mon2100')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2100" ng-model="data.tue.t2100")
            label.tgl-btn(for='tue2100')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2100" ng-model="data.wed.t2100")
            label.tgl-btn(for='wed2100')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2100" ng-model="data.thu.t2100")
            label.tgl-btn(for='thu2100')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2100" ng-model="data.fri.t2100")
            label.tgl-btn(for='fri2100')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2100" ng-model="data.sat.t2100")
            label.tgl-btn(for='sat2100')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2100" ng-model="data.sun.t2100")
            label.tgl-btn(for='sun2100')
        tr
          td 9:30pm - 10:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2130" ng-model="data.mon.t2130")
            label.tgl-btn(for='mon2130')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2130" ng-model="data.tue.t2130")
            label.tgl-btn(for='tue2130')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2130" ng-model="data.wed.t2130")
            label.tgl-btn(for='wed2130')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2130" ng-model="data.thu.t2130")
            label.tgl-btn(for='thu2130')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2130" ng-model="data.fri.t2130")
            label.tgl-btn(for='fri2130')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2130" ng-model="data.sat.t2130")
            label.tgl-btn(for='sat2130')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2130" ng-model="data.sun.t2130")
            label.tgl-btn(for='sun2130')
        tr
          td 10:00pm - 10:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2200" ng-model="data.mon.t2200")
            label.tgl-btn(for='mon2200')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2200" ng-model="data.tue.t2200")
            label.tgl-btn(for='tue2200')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2200" ng-model="data.wed.t2200")
            label.tgl-btn(for='wed2200')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2200" ng-model="data.thu.t2200")
            label.tgl-btn(for='thu2200')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2200" ng-model="data.fri.t2200")
            label.tgl-btn(for='fri2200')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2200" ng-model="data.sat.t2200")
            label.tgl-btn(for='sat2200')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2200" ng-model="data.sun.t2200")
            label.tgl-btn(for='sun2200')
        tr
          td 10:30pm - 11:00pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2230" ng-model="data.mon.t2230")
            label.tgl-btn(for='mon2230')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2230" ng-model="data.tue.t2230")
            label.tgl-btn(for='tue2230')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2230" ng-model="data.wed.t2230")
            label.tgl-btn(for='wed2230')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2230" ng-model="data.thu.t2230")
            label.tgl-btn(for='thu2230')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2230" ng-model="data.fri.t2230")
            label.tgl-btn(for='fri2230')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2230" ng-model="data.sat.t2230")
            label.tgl-btn(for='sat2230')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2230" ng-model="data.sun.t2230")
            label.tgl-btn(for='sun2230')
        tr
          td 11:00pm - 11:30pm
          td
            input.tgl.tgl-light(type="checkbox" id="mon2300" ng-model="data.mon.t2300")
            label.tgl-btn(for='mon2300')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2300" ng-model="data.tue.t2300")
            label.tgl-btn(for='tue2300')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2300" ng-model="data.wed.t2300")
            label.tgl-btn(for='wed2300')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2300" ng-model="data.thu.t2300")
            label.tgl-btn(for='thu2300')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2300" ng-model="data.fri.t2300")
            label.tgl-btn(for='fri2300')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2300" ng-model="data.sat.t2300")
            label.tgl-btn(for='sat2300')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2300" ng-model="data.sun.t2300")
            label.tgl-btn(for='sun2300')
        tr
          td 11:30pm - 12:00am
          td
            input.tgl.tgl-light(type="checkbox" id="mon2330" ng-model="data.mon.t2330")
            label.tgl-btn(for='mon2330')
          td
            input.tgl.tgl-light(type="checkbox" id="tue2330" ng-model="data.tue.t2330")
            label.tgl-btn(for='tue2330')
          td
            input.tgl.tgl-light(type="checkbox" id="wed2330" ng-model="data.wed.t2330")
            label.tgl-btn(for='wed2330')
          td
            input.tgl.tgl-light(type="checkbox" id="thu2330" ng-model="data.thu.t2330")
            label.tgl-btn(for='thu2330')
          td
            input.tgl.tgl-light(type="checkbox" id="fri2330" ng-model="data.fri.t2330")
            label.tgl-btn(for='fri2330')
          td
            input.tgl.tgl-light(type="checkbox" id="sat2330" ng-model="data.sat.t2330")
            label.tgl-btn(for='sat2330')
          td
            input.tgl.tgl-light(type="checkbox" id="sun2330" ng-model="data.sun.t2330")
            label.tgl-btn(for='sun2330')
